# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# IntelliJ
.idea/

# Helm
*.tgz
charts/

# Temporary files
*.tmp
*.swp
*.swo

# Logs
*.log

# Local overrides
values-local.yaml
values-dev-local.yaml
#values.yaml

# Kubernetes configs
*.kubeconfig

# Environment files
.env
.env.*

gitblog-backup.yaml*